{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<h1>Blogs</h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Contenu</th>
            <th>Published at</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="5">Need to be processed</th>
        </tr>
        {% for blog in blogs if not blog.isProcessed %}
            <tr>
                <td>{{ blog.title }}</td>
                <td>{{ blog.contenu }}</td>
                <td>{{ blog.publishedAt|date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('blog_show', {'id': blog.id}) }}" class="btn btn-primary">View blog request</a></td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="5">Already processed</th>
        </tr>
        {% for blog in blogs if blog.isProcessed %}
            <tr>
                <td>{{ blog.title }}</td>
                <td>{{ blog.contenu }}</td>
                <td>{{ blog.publishedAt|date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('blog_show', {'id': blog.id}) }}" class="btn btn-primary">View blog request</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}
