{% extends 'base.html.twig' %}

{% block title %}Hello world!{% endblock %}

{% block body %}
    <h1>{{ 'hello.name'|trans({'%name%': name|upper}) }}</h1>
    {% if name == 'world' %}
        <p>{{ 'hello.world'|trans }}</p>
    {% else %}
        <p>{{ 'hello.not_world'|trans }}</p>
    {% endif %}

    <h2>{{ 'user.title'|transchoice(users|length, {'%count%': users|length}) }}</h2>
    {% for user in users %}
        <p>{{ user.name }} ({{ user.email }})</p>
    {% else %}
        <p>No users.</p>
    {% endfor %}
{% endblock body %}
