{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1>
    Contact details
    {% if contact.isProcessed %}
        <span class="label label-success">Processed!</span>
    {% else %}
        <span class="label label-warning">Need to be processed!</span>
    {% endif %}
</h1>
<div>
    <h2>From</h2>
    <div>{{ contact.name }} ({{ contact.email }})</div>

    <h2>Sent at</h2>
    <div>{{ contact.sentAt|date('Y-m-d H:s:i') }}</div>

    <h2>Subject</h2>
    <div>{{ contact.subject }}</div>

    <h2>Message</h2>
    <div>{{ contact.message }}</div>

    {% if not contact.isProcessed %}
        <h2>Actions</h2>
        <div><a href="{{ path('contact_mark_as_processed', {'id': contact.id}) }}" class="btn btn-success">Mark as Processed!</a></div>
    {% endif %}
</div>
{% endblock body %}
